In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('./data/city_weather.csv')

In [3]:
g = df.groupby('city')

In [4]:
g

In [5]:
g.describe()

     temperature                                                    wind  \
           count    mean        std   min   25%   50%    75%   max count
city
BJ           6.0  10.000   8.532292  -3.0  5.75  10.0  17.25  19.0   6.0
GZ           4.0   8.750  11.842719  -1.0  0.50   5.5  13.75  25.0   4.0
SH           8.0   4.625  12.489281 -10.0 -5.25   2.0  17.50  20.0   8.0
SZ           2.0   5.000  21.213203 -10.0 -2.50   5.0  12.50  20.0   2.0


          mean       std  min   25%  50%   75%  max
city
BJ    2.833333  1.169045  2.0  2.00  2.5  3.00  5.0
GZ    4.000000  1.414214  2.0  3.50  4.5  5.00  5.0
SH    3.625000  1.060660  2.0  3.00  3.5  4.25  5.0
SZ    2.500000  2.121320  1.0  1.75  2.5  3.25  4.0

In [9]:
def foo(attr):
    return attr.max() - attr.min()

In [10]:
# 自定义聚合函数
g.agg(foo)

      temperature  wind
city
BJ             22     3
GZ             26     3
SH             30     3
SZ             30     3

In [13]:
# 按照两个以上的值做group
g_new = df.groupby(['city', 'wind'])

In [14]:
g_new

In [15]:
# 取值
g_new.get_group(('BJ', 3))

         date city  temperature  wind
3  14/02/2016   BJ           -3     3
5  13/03/2016   BJ            5     3

In [17]:
for (city_name, wind_name), group in g_new:
    print(city_name, wind_name)
    print(group)

BJ 2
         date city  temperature  wind
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
4  28/02/2016   BJ           19     2
BJ 3
         date city  temperature  wind
3  14/02/2016   BJ           -3     3
5  13/03/2016   BJ            5     3
BJ 5
         date city  temperature  wind
0  03/01/2016   BJ            8     5
GZ 2
          date city  temperature  wind
14  17/07/2016   GZ           10     2
GZ 4
          date city  temperature  wind
17  28/08/2016   GZ           25     4
GZ 5
          date city  temperature  wind
15  31/07/2016   GZ           -1     5
16  14/08/2016   GZ            1     5
SH 2
          date city  temperature  wind
10  22/05/2016   SH            4     2
SH 3
         date city  temperature  wind
7  10/04/2016   SH           19     3
8  24/04/2016   SH           20     3
9  08/05/2016   SH           17     3
SH 4
          date city  temperature  wind
6   27/03/2016   SH           -4     4
11  05/06/2016   SH          -10     4
SH 5
          date city  temperature  wind
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5
SZ 1
          date city  temperature  wind
18  11/09/2016   SZ           20     1
SZ 4
          date city  temperature  wind
19  25/09/2016   SZ          -10     4